body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0a0a23;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

main{
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img{
  width: 300px;
  margin-bottom: 20px;
}

#palindromeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

#result {
  text-align: center;
  max-width: 200px;
  margin: 20px auto 0 auto;
  font-size: 18px;
  font-weight: bold;
}

#hint {
  text-align: center;
  max-width: 300px;
  padding: 10px;
  margin: 20px auto 0 auto;
  font-size: 14px;
  color: white;
  background-color: #4caf50;
  border-radius: 20px;
}